/* @tailwind base;

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
:root {
  --background: 55.0000 30.0000% 92.1569%;
  --foreground: 15.6522 15.4362% 29.2157%;
  --card: 55.0000 30.0000% 92.1569%;
  --card-foreground: 15.6522 15.4362% 29.2157%;
  --popover: 0 0% 100%;
  --popover-foreground: 15.6522 15.4362% 29.2157%;
  --primary: 18.0952 25.5061% 51.5686%;
  --primary-foreground: 0 0% 100%;
  --secondary: 37.5000 22.4719% 65.0980%;
  --secondary-foreground: 0 0% 100%;
  --muted: 20.4545 44.8980% 80.7843%;
  --muted-foreground: 13.7500 21.0526% 44.7059%;
  --accent: 20.4545 44.8980% 80.7843%;
  --accent-foreground: 15.6522 15.4362% 29.2157%;
  --destructive: 22.5000 14.8148% 10.5882%;
  --destructive-foreground: 0 0% 100%;
  --border: 37.5000 22.4719% 65.0980%;
  --input: 37.5000 22.4719% 65.0980%;
  --ring: 18.0952 25.5061% 51.5686%;
  --chart-1: 18.0952 25.5061% 51.5686%;
  --chart-2: 13.7500 21.0526% 44.7059%;
  --chart-3: 22.3729 32.9609% 64.9020%;
  --chart-4: 37.5000 22.4719% 65.0980%;
  --chart-5: 22.3256 18.7773% 55.0980%;
  --sidebar: 20.6250 44.4444% 85.8824%;
  --sidebar-foreground: 15.6522 15.4362% 29.2157%;
  --sidebar-primary: 18.0952 25.5061% 51.5686%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 22.3729 32.9609% 64.9020%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 22.3256 18.7773% 55.0980%;
  --sidebar-ring: 18.0952 25.5061% 51.5686%;
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: hsl(20 18% 51% / 0.4);
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 20 15.3846% 15.2941%;
  --foreground: 55.0000 30.0000% 92.1569%;
  --card: 21.4286 13.2075% 20.7843%;
  --card-foreground: 55.0000 30.0000% 92.1569%;
  --popover: 21.4286 13.2075% 20.7843%;
  --popover-foreground: 55.0000 30.0000% 92.1569%;
  --primary: 22.3729 32.9609% 64.9020%;
  --primary-foreground: 20 15.3846% 15.2941%;
  --secondary: 13.7500 21.0526% 44.7059%;
  --secondary-foreground: 55.0000 30.0000% 92.1569%;
  --muted: 15.6522 15.4362% 29.2157%;
  --muted-foreground: 21.4286 26.5823% 69.0196%;
  --accent: 37.5000 22.4719% 65.0980%;
  --accent-foreground: 20 15.3846% 15.2941%;
  --destructive: 0 68.6747% 67.4510%;
  --destructive-foreground: 20 15.3846% 15.2941%;
  --border: 15.6522 15.4362% 29.2157%;
  --input: 15.6522 15.4362% 29.2157%;
  --ring: 22.3729 32.9609% 64.9020%;
  --chart-1: 22.3729 32.9609% 64.9020%;
  --chart-2: 37.5000 22.4719% 65.0980%;
  --chart-3: 18.0952 25.5061% 51.5686%;
  --chart-4: 13.7500 21.0526% 44.7059%;
  --chart-5: 22.3256 18.7773% 55.0980%;
  --sidebar: 22.5000 14.8148% 10.5882%;
  --sidebar-foreground: 55.0000 30.0000% 92.1569%;
  --sidebar-primary: 22.3729 32.9609% 64.9020%;
  --sidebar-primary-foreground: 22.5000 14.8148% 10.5882%;
  --sidebar-accent: 37.5000 22.4719% 65.0980%;
  --sidebar-accent-foreground: 22.5000 14.8148% 10.5882%;
  --sidebar-border: 15.6522 15.4362% 29.2157%;
  --sidebar-ring: 22.3729 32.9609% 64.9020%;
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: hsl(20 18% 30% / 0.5);
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 2px 4px -1px hsl(20 18% 30% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 4px 6px -1px hsl(20 18% 30% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 8px 10px -1px hsl(20 18% 30% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
--sidebar: hsl(0 0% 98%);
--sidebar-foreground: hsl(240 5.3% 26.1%);
--sidebar-primary: hsl(240 5.9% 10%);
--sidebar-primary-foreground: hsl(0 0% 98%);
--sidebar-accent: hsl(240 4.8% 95.9%);
--sidebar-accent-foreground: hsl(240 5.9% 10%);
--sidebar-border: hsl(220 13% 91%);
--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
--sidebar: hsl(240 5.9% 10%);
--sidebar-foreground: hsl(240 4.8% 95.9%);
--sidebar-primary: hsl(224.3 76.3% 48%);
--sidebar-primary-foreground: hsl(0 0% 100%);
--sidebar-accent: hsl(240 3.7% 15.9%);
--sidebar-accent-foreground: hsl(240 4.8% 95.9%);
--sidebar-border: hsl(240 3.7% 15.9%);
--sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
--color-sidebar: var(--sidebar);
--color-sidebar-foreground: var(--sidebar-foreground);
--color-sidebar-primary: var(--sidebar-primary);
--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
--color-sidebar-accent: var(--sidebar-accent);
--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
--color-sidebar-border: var(--sidebar-border);
--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
}
  body {
    @apply bg-background text-foreground;
}
} */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(0.9529 0.0146 102.4597);
  --foreground: oklch(0.4063 0.0255 40.3627);
  --card: oklch(0.9529 0.0146 102.4597);
  --card-foreground: oklch(0.4063 0.0255 40.3627);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4063 0.0255 40.3627);
  --primary: oklch(0.6083 0.0623 44.3588);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7473 0.0387 80.5476);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.8502 0.0389 49.0874);
  --muted-foreground: oklch(0.5416 0.0512 37.2132);
  --accent: oklch(0.8502 0.0389 49.0874);
  --accent-foreground: oklch(0.4063 0.0255 40.3627);
  --destructive: oklch(0.2225 0.0098 52.9636);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7473 0.0387 80.5476);
  --input: oklch(0.7473 0.0387 80.5476);
  --ring: oklch(0.6083 0.0623 44.3588);
  --chart-1: oklch(0.6083 0.0623 44.3588);
  --chart-2: oklch(0.5416 0.0512 37.2132);
  --chart-3: oklch(0.7272 0.0539 52.3320);
  --chart-4: oklch(0.7473 0.0387 80.5476);
  --chart-5: oklch(0.6440 0.0405 52.3917);
  --sidebar: oklch(0.8903 0.0278 49.5658);
  --sidebar-foreground: oklch(0.4063 0.0255 40.3627);
  --sidebar-primary: oklch(0.6083 0.0623 44.3588);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7272 0.0539 52.3320);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.6440 0.0405 52.3917);
  --sidebar-ring: oklch(0.6083 0.0623 44.3588);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: hsl(20 18% 51% / 0.4);
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 1px 2px -1px hsl(20 18% 51% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 2px 4px -1px hsl(20 18% 51% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 4px 6px -1px hsl(20 18% 51% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11), 2px 8px 10px -1px hsl(20 18% 51% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2721 0.0141 48.1783);
  --foreground: oklch(0.9529 0.0146 102.4597);
  --card: oklch(0.3291 0.0156 50.8936);
  --card-foreground: oklch(0.9529 0.0146 102.4597);
  --popover: oklch(0.3291 0.0156 50.8936);
  --popover-foreground: oklch(0.9529 0.0146 102.4597);
  --primary: oklch(0.7272 0.0539 52.3320);
  --primary-foreground: oklch(0.2721 0.0141 48.1783);
  --secondary: oklch(0.5416 0.0512 37.2132);
  --secondary-foreground: oklch(0.9529 0.0146 102.4597);
  --muted: oklch(0.4063 0.0255 40.3627);
  --muted-foreground: oklch(0.7575 0.0380 50.8610);
  --accent: oklch(0.7473 0.0387 80.5476);
  --accent-foreground: oklch(0.2721 0.0141 48.1783);
  --destructive: oklch(0.6875 0.1420 21.4566);
  --destructive-foreground: oklch(0.2721 0.0141 48.1783);
  --border: oklch(0.4063 0.0255 40.3627);
  --input: oklch(0.4063 0.0255 40.3627);
  --ring: oklch(0.7272 0.0539 52.3320);
  --chart-1: oklch(0.7272 0.0539 52.3320);
  --chart-2: oklch(0.7473 0.0387 80.5476);
  --chart-3: oklch(0.6083 0.0623 44.3588);
  --chart-4: oklch(0.5416 0.0512 37.2132);
  --chart-5: oklch(0.6440 0.0405 52.3917);
  --sidebar: oklch(0.2225 0.0098 52.9636);
  --sidebar-foreground: oklch(0.9529 0.0146 102.4597);
  --sidebar-primary: oklch(0.7272 0.0539 52.3320);
  --sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-accent: oklch(0.7473 0.0387 80.5476);
  --sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
  --sidebar-border: oklch(0.4063 0.0255 40.3627);
  --sidebar-ring: oklch(0.7272 0.0539 52.3320);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-x: 2px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.11;
  --shadow-color: hsl(20 18% 30% / 0.5);
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 2px 4px -1px hsl(20 18% 30% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 4px 6px -1px hsl(20 18% 30% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11), 2px 8px 10px -1px hsl(20 18% 30% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}